* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -box-sizing: border-box;}
body {font-family: "Trebuchet MS", Helvetica, sans-serif; background: black;}
input {background: grey; font-size: 18px;}
form {display: inline-block;}
